# Include documentation
include README.md
include CHANGELOG.md
include LICENSE

# Include package data
include grasscalc/py.typed

# Include test files
recursive-include tests *.py

# Include documentation
recursive-include docs *.md

# Exclude build artifacts
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.so
global-exclude .DS_Store
global-exclude *.egg-info
prune .github
prune .pytest_cache
prune build
prune dist
